fastapi
uvicorn[standard]
httpx
python-dotenv
pydantic
pydantic-settings
sse-starlette
uuid
asyncio
langgraph
langgraph-cli[inmem]
langchain
langchain-core
langchain-google-genai
langchain-mcp-adapters>=0.1.1
